aws
awscliv2.zip
'~'

# python
__pycache__/
*.pyc

# env
.env
.venv
uv.lock

# model
model/
*.bin
*.pt
*.safetensors

# dataset
*.parquet
*.jsonl
data/

# logs
logs/
out/
wandb/

# notebook
.ipynb_checkpoints

# system
.DS_Store
